// Window Rules - niri:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// 全局窗口规则
window-rule {
    // 圆角
    geometry-corner-radius 8
    // 去掉超出圆角的窗口内容
    clip-to-geometry true
    // 全局透明度
    opacity 0.9
    // 禁止边框画到背景里
    draw-border-with-background false
    // 窗口模糊
    background-effect {
        blur true
    }
}

// 以浮动模式打开
window-rule {
    // 窗口标题和应用程序 ID
    match app-id="org.pulseaudio.pavucontrol" title="音量控制"
    match app-id="org.gnome.clocks" title="时钟"
    match app-id="fcitx" title="Fcitx5 Input Window"

    match app-id="bluetui"
    match app-id="nm-connection-editor"
    match app-id="org.gnome.FileRoller"
    match app-id="waypaper"
    match app-id="copyq"
    match app-id="btrfs-assistant"
    match app-id="QQ"
    match app-id="wechat"

    match title="群聊的聊天记录"
    match title="聊天记录"
    match title="日历"
    match title="重命名"
    match title="任务管理器"
    match title="微信"
    match title="Fcitx 配置"
    open-floating true
}

// 取消透明度，以浮动模式打开
window-rule {
    match app-id="imv"
    match app-id="mpv"

    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
    opacity 1.0
}
