@import "catppuccin-mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo", "Sarasa UI SC", "JetBrains Maple Mono";
    font-size: 16px; /* 基准字体大小 */
    opacity: 1;
}

window#waybar {
    background: transparent;
    color: @lavender;
}


tooltip {
    background: @surface0;
    border: 0.17em;
    opacity: 1;
}

tooltip label {
    color: @text;
    font-size: 0.89em;
}

/* 工作区 */
#workspaces button {
    padding: 0 0.56em;
    background: @crust;
    color: @teal;
}

#workspaces button:hover {
    background: @surface0;
}

#workspaces button.active {
    color: @sapphire;
}

/* niri任务栏 */
.niri-taskbar {
    background: @mantle;
    padding: 0 0 0 0.28em;
}

.niri-taskbar button:hover {
    background: @surface0;
}

.niri-taskbar button.focused {
    background: @surface0;
}

.niri-taskbar button.urgent {
    background-color: @mauve;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: @blue;
        color: @red;
    }
}

/* 窗口 */
#window {
    padding: 0 0.56em;
    background-color: @surface0;
    color: @text;
}

#window label {
    font-size: 0.89em;
}

window#waybar.empty #window {
    background-color: @surface0;
}

/* 通用分割线样式 */
#custom-left_div.1,
#custom-left_div.2,
#custom-left_div.3,
#custom-left_div.4,
#custom-left_div.5,
#custom-left_div.6,
#custom-left_div.7,
#custom-left_div.8,
#custom-right_div.1,
#custom-right_div.2,
#custom-right_div.3,
#custom-right_div.4,
#custom-right_div.5,
#custom-right_div.6,
#custom-right_div.7,
#custom-right_div.8 {
    font-size: 1.39em;
    padding: 0;
}

/* 分割线颜色 */
/*左箭头*/
#custom-left_div.1 { color: @base; }
#custom-left_div.2 { background: @base; color: @red; }
#custom-left_div.3 { background: @red; color: @mantle; }
#custom-left_div.4 { background: @mantle; color: @yellow; }
#custom-left_div.5 { color: @surface0; }
#custom-left_div.6 { background: @surface0; color: @base; }
#custom-left_div.7 { background: @base; color: @mantle; }
#custom-left_div.8 { background: @mantle; color: @crust; }

/*右箭头*/
#custom-right_div.1 { color: @base; }
#custom-right_div.2 { background: @base; color: @blue; }
#custom-right_div.3 { background: @blue; color: @mantle; }
#custom-right_div.4 { background: @mantle; color: @yellow; }
#custom-right_div.5 { color: @surface0; }
#custom-right_div.6 { background: @surface0; color: @base; }
#custom-right_div.7 { background: @base; color: @mantle; }
#custom-right_div.8 { background: @mantle; color: @crust; }

/* 中间区域图标 */
#bluetooth,
#network,
#custom-screenshot,
#custom-recorder {
    background-color: @base;
    color: @text;
}

#bluetooth { padding: 0 0.3em 0 0.5em; font-size: 1.25em; }
#bluetooth.disabled { padding: 0 0.22em 0 0.46em; }
#network { padding: 0 0.34em; font-size: 1.2em; }
#custom-screenshot { padding: 0 0.4em; font-size: 1.28em; }
#custom-recorder { padding: 0 0.3em; font-size: 1.1em; }

#power-profiles-daemon,
#custom-colorpicker,
#idle_inhibitor {
    background-color: @red;
    color: @base;
    padding: 0 0.36em;
}

#idle_inhibitor.activated { padding: 0 0.4em; }
#power-profiles-daemon { padding: 0 0.4em 0 0.36em; }
#power-profiles-daemon.performance { color: @yellow; font-size: 1.28em; padding: 0 0.32em 0 0.45em; }
#power-profiles-daemon.balanced { color: @base; }
#power-profiles-daemon.power-saver { color: @green; }

/* 启动器 */
#custom-applauncher {
    font-size: 1.39em;
    padding: 0 0.39em;
    margin: 0;
    background-color: @yellow;
    color: @crust;
}

/* 时钟和媒体 */
#clock {
    padding: 0 0.45em 0 0.45em;
    background-color: @blue;
    color: @base;
}

#custom-cava {
    background-color: @base;
    color: @sky;
    padding: 0 0.39em;
}

/* 更新和托盘 */
#custom-updates,
#tray {
    background-color: @surface0;
    padding: 0 0.39em;
    color: @text;
}

#custom-updates {
    border-radius: 0;
    padding: 0 0.17em 0 0.39em;

}

#tray { font-size: 1.11em; }

/* 亮度控制 */
#custom-ddcutil-day,
#custom-ddcutil-night,
#custom-ddcutil-sleep,
#custom-separator.1,
#backlight {
    background-color: @base;
    color: @peach;
    padding: 0 0.33em;
}

#backlight { padding: 0 0.28em 0 0; }

#backlight-slider {
    background-color: @base;
    padding: 0 0.28em 0 0;
}

#backlight-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 0.56em;
    min-width: 4.44em;
    border-radius: 0.28em;
    opacity: 0;
    background-color: @base;
}

#backlight-slider highlight {
    min-width: 0.56em;
    border-radius: 0.28em;
    background-color: @yellow;
}

/* 音频控制 */
#privacy,
#pulseaudio,
#pulseaudio-slider {
    background-color: @base;
}

#privacy {
    padding: 0 0.39em;
    color: @red;
}

#pulseaudio {
    padding: 0 0 0 0.28em;
    color: @peach;
}

#pulseaudio-slider {
    padding: 0 0 0 0.56em;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 0.56em;
    min-width: 4.44em;
    border-radius: 0.28em;
    background-color: @surface0;
}

#pulseaudio-slider highlight {
    min-width: 0;
    border-radius: 0.28em;
    background-color: @yellow;
}

/* 电池 */
#battery {
    background-color: @mantle;
    color: @mauve;
    padding: 0 0.39em;
}

#battery.critical:not(.charging) {
    background-color: @mantle;
    color: @red;
    padding: 0 0.39em;
    animation: blink 0.5s steps(12) infinite alternate;
}

/* 电源菜单 */
#custom-wlogout,
#custom-reboot,
#custom-lockscreen,
#custom-logout {
    background-color: @crust;
    color: @maroon;
    padding: 0 0.56em;
}

#custom-wlogout {
    padding: 0 0.83em 0 0.56em;
    font-size: 1.39em;
}
