@import "./styles/catppuccin-mocha.css";
@import "./styles/arrows.css";
@import "./styles/center.css";
@import "./styles/left.css";
@import "./styles/right.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo", "Sarasa UI SC", "JetBrains Maple Mono";
    font-size: 15.4px; /* 基准字体大小 */
    opacity: 1;
}

window#waybar {
    background: transparent;
    color: @lavender;
}

tooltip {
    background: @surface0;
    border: 0.17em;
    opacity: 1;
}

tooltip label {
    color: @text;
    font-size: 0.89em;
}
